._loginPage_1ehxv_1{min-height:100vh;display:flex;align-items:center;justify-content:center;background:linear-gradient(135deg,#667eea,#764ba2)}._container_1ehxv_9{width:100%;max-width:500px;padding:2rem}
