.privacy {
  padding: 32px 0;
}

.container {
  width: min(1100px, calc(100% - 32px));
  margin: 0 auto;
}

.title {
  margin: 0 0 16px;
}

.card {
  padding: 20px;
}

.note {
  margin-top: 16px;
  opacity: 0.8;
  font-size: 14px;
}


